<mat-toolbar>
  <span>Login ke Aplikasi Angular</span>
</mat-toolbar>
<div style="padding:20px">
  <mat-card>
    <mat-form-field style="width: 100%;">
      <mat-label>Username</mat-label>
      <input matInput placeholder="manager" [(ngModel)]="data.username">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="sandi" [(ngModel)]="data.password">
    </mat-form-field>
    <mat-card-actions>
      <button mat-button color="primary" (click)="masuk(data)">MASUK</button>
    </mat-card-actions>
  </mat-card>
</div>
